table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-spacing: 0;
}
body {
  font: 14px/1 "Inconsolata", monospace;
  margin: 3em 0 0 6em;
}
h1 {
  font-size: 1rem;
  margin: 0;
}
.scales caption {
  text-align: left;
  font-weight: bold;
  margin: 2em 0;
}
.scales thead {
  font-weight: bold;
}
.scales tr:hover {
  background: #ffc;
}
.scales td:hover {
  font-weight: bold;
}
.scales th,
.scales td {
  padding: 0 1em;
}
.scales th:first-child {
  padding-left: 0;
}
.scales .lp {
  padding-left: 1.5em;
}
form {
  margin: 3em 0;
}
footer {
  font-weight: bold;
  margin: 3em 0;
}
