body {
  font: 16px/1 monospace;
  margin: 0 0 0 10em;
}
h1 {
  font-size: 1rem;
  margin: 3em 0 0;
}
.scales caption {
  text-align: left;
  font-weight: bold;
  margin: 1em 0;
}
.scales tr:hover {
  background: #ffc;
}
.scales th {
  padding-left: 1.5em;
}
.scales th:first-child {
  padding-left: 0;
}
.scales td {
  text-align: right;
}
